.button{

display:inline-flex;

justify-content:center;

align-items:center;

padding:18px 42px;

border-radius:999px;

background:#b78b4f;

color:white;

text-decoration:none;

font-size:22px;

font-family:"Cormorant Garamond",serif;

transition:.35s;

margin-top:40px;

pointer-events:auto;

}

.button:hover{

transform:translateY(-2px);

background:#9c7540;

}
