.button{

position:absolute;

left:50%;

bottom:80px;

transform:translateX(-50%);

padding:18px 42px;

border-radius:999px;

border:none;

cursor:pointer;

font-size:18px;

font-family:"Cormorant Garamond",serif;

background:#caa96b;

color:white;

transition:.35s;

box-shadow:0 12px 30px rgba(0,0,0,.18);

}

.button:hover{

transform:translateX(-50%) scale(1.04);

background:#b89455;

}
